body {
    font-family: Arial, sans-serif;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background: aliceblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

#word-to-type {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

#user-input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
}

#start-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

#message {
    font-size: 18px;
    color: #d9534f;
    font-weight: bold;
}
